<!DOCTYPE html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script>
$(document).ready(function(){
    $('.query').each(function(i, el){
        $(el).autocomplete({
            minLength: 3,
            source: function(request, response){
                $.ajax({
                    url: $(el).data('url') + request.term,
                    success: function(data) {
                        response($.map(JSON.parse(data).slice(0, 10), function(item){
                            return {
                                label: item.name,
                                id: item.id
                            };
                            }))
                        }
                    })
                }           
            })
        })
    });
</script>
</head>

<body>
<table>
    <tr>
        <td>
            <form id="search" method="post" action="/search/recipe/">
                <input class="query" name="query" autocomplete="off" placeholder="Search All Recipes" data-url="/search/recipe/">
                <input type="submit" value="Search">
            </form>
        </td>
        <td>
              
        </td>
        <td>
            <form id="search_cache" method="post" action="/search-cache/recipe/">
                <input class="query" name="query" autocomplete="off" placeholder="Search All Recipes With Cache" data-url="/search-cache/recipe/">
                <input type="submit" value="Cache Search">
            </form>
        </td>
    </tr>
</table>

<div id="autocomplete-results">
</div>
<h3>{% if recipe_id %}Recipe {{recipe_id}}{% elif search_term %} {{ recipes|length }} recipes matching "{{search_term}}"{% else %}All Recipes{% endif %}</h3>
{% for recipe in recipes %}
<p>
<h3><a href='/recipe/{{ recipe.id }}'>{{ recipe.name }}</a></h3>
    <p>Rating: {{ recipe.rating }}/5</p>
    <p>Prep Time: {{ recipe.prep_time }}</p>
    <p>Cook Time: {{ recipe.cook_time }}</p>
    <p>Ingredients: {{ recipe.ingredients }}</p>
    <p>Instructions: {{ recipe.instructions }}</p>
</p>    
{% endfor %}
</body>
