<!DOCTYPE html>
<head>
</head>
<body>
<h3>Add a New Recipe</h3>
<form id="add" method="post" action="/recipe/add/">
    <input id="name" name="name" placeholder="name">
    <input id="prep_time" name="prep_time" placeholder="prep_time">
    <input id="cook_time" name="cook_time" placeholder="cook_time">
    <input id="ingredients" name="ingredients" placeholder="ingredients">
    <input id="instructions" name="instructions" placeholder="instructions">
    <input id="rating" name="rating" placeholder="rating">
    <input type="submit" value="Submit">
</form>
</body>
