<!DOCTYPE html>
<head>
</head>
<body>
<h3>Add a New Recipe</h3>
<form id="add" method="post" action="/recipe/add/">
    <input autocomplete="off" id="name" name="name" placeholder="name"><br>
    <input autocomplete="off" id="prep_time" name="prep_time" placeholder="prep_time"><br>
    <input autocomplete="off" id="cook_time" name="cook_time" placeholder="cook_time"><br>
    <input autocomplete="off" id="ingredients" name="ingredients" placeholder="ingredients"><br>
    <input autocomplete="off" id="instructions" name="instructions" placeholder="instructions"><br>
    <input autocomplete="off" id="rating" name="rating" placeholder="rating"><br>
    <input type="submit" value="Submit"><br>
</form>
</body>
